
{% extends "dataform/home.html" %}
{% load crispy_forms_tags %}

{% load i18n %}

{% block head %}
{% endblock %}

{% block content %}
<form action="" method="post" enctype="multipart/form-data">
    <div class="container-sm">
        <h1>CUSTOMER FORMS</h1>
        <h2>Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }}</h2>

    {% csrf_token %}
<table>
{{ wizard.management_form }}
{% if wizard.form.forms %}
    {{ wizard.form.management_form }}
    {% for form in wizard.form.forms %}
        {{ form|crispy }}
    {% endfor %}
{% else %}
    {{ wizard.form|crispy }}
{% endif %}
</table>
{% if wizard.steps.prev %}
<button class = "btn btn-lg btn-warning"name="wizard_goto_step" type="submit" value="{{ wizard.steps.first }}">{% trans "first step" %}</button>
<button class= "btn  btn-lg btn-primary" name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}">{% trans "prev step" %}</button>
{% endif %}
<input class="btn btn-lg btn-success" type="submit" value="{% trans "submit" %}"/>
</div>
</form>
{% endblock %}